@media (min-width: 1920px) { 
    body { 
        background-color: white; 
    } 
     .modified{
        margin-top: -62px;
        opacity: 1;

    }
    .discount_box{
    position: absolute;
    display: flex;
    justify-content: center;
    color:white;
    width: 110px;
    height: 23px;
    background-color: #E9282B;
    border-radius: 5px;
    font-size: 18px;
    font-family: fantasy;
    text-align: center;
    padding: 5px;
    left: 50px;
    top:90px;

}
     .textNewsLatter{
        padding-left: 170px;
        position: absolute;
        display: flex;
        font-size: 43px;
        color:white;
        font-family: fantasy;
        vertical-align: middle;
        margin: auto;
        text-align: center;


    }
     .emailnews{

        display:flex;
        position: absolute;
        align-items: center;
        justify-content: center;
         padding-left: 970px;

    }
     .menu-mobile{
        display: none;
    }
    #name{
        color:black;
        font-size: 25px;
        position: absolute;
        top: 347px;
        font-family: fantasy;
        left: 45px;

    }
  
 
   
    .boxSell{
        background-color: white;
        width: 370px;
        height: 330px;
        color:white;
        align-items: center;
        display: table-cell;
        border: solid white 12px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        position: relative;
    }
    #bestSellersText{
        text-align: center;
        font-family: fantasy;
        font-size: 33px;
        color:black;
        display: flex;
        margin:auto;
        justify-content: center;
        align-content: center;
        max-width: 1920px;
        background-color: white;

    }
    .newslatter{
        background-color: #2C2C2C;
        max-width: 1920px;
        height:100px;
        display: flex;
        left:10px;
        width: auto;


    }
    #shopNowProducts{
        font-family: fantasy;
        border-radius: 10px;
        font-size: 18px;
        color:white;
        text-align:center; 
        vertical-align: middle;
        display: table-cell; 
        background-color: gray;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 12px; 
        padding-right: 12px;
        margin-top: -3vw;
        outline: none;
        cursor: pointer;

    }
    #shopNowProducts:hover{
        background-color: white;
        color:gray;
    }
    .productsText{
        color:white;
        font-family: fantasy;
        font-size: 35px;
        text-shadow: 2px 2px gray;
        opacity 0.2;
        text-align: center;
        position:static;
        padding-top: 6vw;
        margin-top: px;
        left: 1em;

    }
    #blackLine{
        width: auto;
        background-color: #2C2C2C;
        color:white;
        height:20px;
        padding: 10px;
        display: flex;
        max-width: 1920px;
        margin:0 auto;
    }
    a{
        text-decoration: none;
    }
    .bestSeller{
        background-color: white;
        width: auto;
        height:auto;
        top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-flow:wrap;
        margin:0 auto;
        text-align: center;
    }
    .boxSell{
        background-color: white;
        width: 425px;
        height: 390px;
        color:white;
        align-items: center;
        display: flex;
        border: solid white 0.2px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        position: relative;
       
    }
  
    #model_name{
        color:black;
        opacity: 0.2;
        font-size: 20px;
        position: absolute;
        top: 380px;
        font-family: fantasy;
        left: 45px;
    }
   
  
    .products{
    display: flex;
    margin:auto auto -70px auto;
    padding-top: 1vw;;
    max-height: 400px;
    height:20vw;
    max-width: 1920px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}
      #price{
        color:black;
        opacity:1;
        font-size: 13px;
        position: absolute;
        top:360px;
        font-family: fantasy;
        margin-left:13px;
    }
    #price_off{
        color:red;
        opacity:1;
        font-size: 20px;
        position: absolute;
        top: 372px;
        font-family: fantasy;
        left: 342px;
    }
       .btn-colectii-modified{
    position: relative;
        top:393px;
    left:-309px;
    font-family: fantasy;
    border-radius: 10px;
    font-size: 32px;
    color:white;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
    background-color: gray;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 12px; 
    padding-right: 12px;
    outline: none;
    cursor: pointer;
}
 .colectii-text{
        color:white;
        font-family: fantasy;
        font-size: 50px;
        display: block;
        padding-top: 290px;
        text-align: left;
        padding-left:53px;
        position: absolute;
    }

} 