@media (min-width: 1281px) { 
    body { 
        background-color: white; 
    } 
    .colectii-text{
        color:white;
        font-family: fantasy;
        font-size: 3vw;
        display: block;
        padding-top: 14vw;
        text-align: left;
        padding-left:3vw;
        position: absolute;
    }
     .menu-mobile{
        display: none;
    }
    .brands{

        max-width: 1920px;
        height:23vh;
        display: inline-block;


    }
    #brandText{
        text-align: center;
        font-family: fantasy;
        font-size: 33px;
        color:black;
        padding-top: 3vw;

    }

    .boxBrand{

        width:11.3vw;
        height: auto;

        max-width: 220px;
        max-height: 220px;
        color:white;
        align-items: center;
        display: inline-block;
        border: solid white 0.3vw;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        position: relative;

        margin:0 auto;

    }
    .boxBrand:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    #name{
        color:black;
        font-size: 28px;
        position: absolute;
        top: 54vw;
        font-family: fantasy;
        left: 20px;

    }
    #model_name{
        color:black;
        opacity: 0.2;
        font-size: 23px;
        position: absolute;
        top: 62vw;
        font-family: fantasy;
        left: 20px;
    }

    #price{
        color:black;
        opacity:1;
        font-size: 20px;
        position: absolute;
        top: 56vw;
        font-family: fantasy;
        left: 55vw;;
    }
    #price_off{
        color:red;
        opacity:1;
        font-size: 20px;
        position: absolute;
        top: 61vw;
        font-family: fantasy;
        left: 66vw;
    }
    .shoe{
        background-color:beige;
        width: auto;
        height: auto;
        position: absolute;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        background-size: cover;
    }
    #poza{
        width:100%;
        height: 100%;
        overflow:hidden;
        object-fit: cover;
        object-position: center;
        background-size:contain;
    }

    .boxSell{
        background-color: white;
        width:21vw;
        height: 21vw;
        color:white;
        align-items: center;
        border: 0;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        position: relative;
        flex-flow: wrap;
        padding: 1vw;
    }
    .bestSeller{
        background-color: white;
        width: auto;
        height:auto;
        top: 10px;
        padding: 1px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-flow:wrap;

    }

    #name{
        color:black;
        font-size: 25px;
        position: absolute;
        top: 34.7vw;
        font-family: fantasy;
        left: 20px;

    }
    #model_name{
        color:black;
        opacity: 0.2;
        font-size: 20px;
        position: absolute;
        top: 39vw;
        font-family: fantasy;
        left: 20px;
    }
    #price{
        color:black;
        opacity:1;
        font-size: 20px;
        position: absolute;
        top: 36vw;
        font-family: fantasy;
        margin-left: 32vw;
    }
    #price_off{
        color:red;
        opacity:1;
        font-size: 20px;
        position: absolute;
        top: 39vw;
        font-family: fantasy;
        left: 32vw;
    }
    .productsText{
        color:white;
        font-family: fantasy;
        font-size: 2.3vw;
        text-shadow: 2px 2px gray;
        opacity 0.2;
        text-align: center;
        position:static;
        padding-top: 6vw;
        margin-top: px;
        left: 1em;

    }
    #shopNowProducts{
        font-family: fantasy;
        border-radius: 10px;
        font-size: 1.2vw;
        color:white;
        text-align:center; 
        vertical-align: middle;
        display: table-cell; 
        background-color: gray;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 12px; 
        padding-right: 12px;
        margin-top: -3vw;
        outline: none;
        cursor: pointer;

    }
    #shopNowProducts:hover{
        background-color: white;
        color:gray;
    }
    .modified{
        margin-top: -4.5vw;
        opacity: 1;
    }
        .products{
    display: flex;
    margin:auto auto -70px auto;
    padding-top: 1vw;;
    max-height: 400px;
    height:20vw;
    max-width: 1920px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}
    .btn-colectii-modified{
    position: relative;
        top:20vw;
    left:-15.6vw;
    font-family: fantasy;
    border-radius: 10px;
    font-size: 1.6vw;
    color:white;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
    background-color: gray;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 12px; 
    padding-right: 12px;
    outline: none;
    cursor: pointer;
}
} 